In [1]:
import pandas as pd 
from datetime import date

In [7]:
today = date.today()
date = today.strftime("%d/%m/%Y")

In [8]:
date

'11/11/2020'

In [9]:
data = pd.read_excel(r'C:\Users\user\Desktop\Bug vertical repayment.xlsx')

In [10]:
data['Generated on'] = date

In [11]:
data.head(5)

,District,Sector,Site,Group,SiteAtTimeOfRepayment,GroupAtTimeOfRepayment,LastName,FirstName,OAFID,Dropped,...,ReceiptID,Type,RepaymentDate,DataEntryDate,GlobalClientID,RepaymentPhoneNumber,AccountNumber,BulkUploaded,Autosaved,Generated on
0,Bugesera,Ruhuha,Gikundamvura,TUZAMURANE,Gikundamvura,TUZAMURANE,NSIMBOYOBOYE,Noheri,6446,False,...,2830354163,MobileMoney,2020-07-25,2020-07-25 00:15:56,728d4323-3d0c-ea11-86a8-9822ef6ea250,789271419.0,23022544,True,True,11/11/2020
1,Bugesera,Ruhuha,Gikundamvura,TUZAMURANE,Gikundamvura,TUZAMURANE,NSIMBOYOBOYE,Noheri,6446,False,...,2852707891,MobileMoney,2020-07-29,2020-07-29 23:33:55,728d4323-3d0c-ea11-86a8-9822ef6ea250,789271419.0,23022544,True,True,11/11/2020
2,Bugesera,Ruhuha,Gikundamvura,TUZAMURANE,Gikundamvura,TUZAMURANE,NSIMBOYOBOYE,Noheri,6446,False,...,2857817110,MobileMoney,2020-07-31,2020-07-31 05:08:03,728d4323-3d0c-ea11-86a8-9822ef6ea250,789271419.0,23022544,True,True,11/11/2020
3,Bugesera,Ruhuha,Gikundamvura,TUZAMURANE,Gikundamvura,TUZAMURANE,NSIMBOYOBOYE,Noheri,6446,False,...,2875915268,MobileMoney,2020-08-03,2020-08-03 22:26:36,728d4323-3d0c-ea11-86a8-9822ef6ea250,789271419.0,23022544,True,True,11/11/2020
4,Bugesera,Ruhuha,Gikundamvura,TUZAMURANE,Gikundamvura,TUZAMURANE,Evarisiti,Uwihoreye,-1013000022,False,...,3087373923,MobileMoney,2020-09-20,2020-09-20 11:54:05,24e23711-d43e-4e05-ad9c-c38618e8b624,789271419.0,27561024,True,True,11/11/2020