In [2]:
import os
import pandas as pd

In [3]:
data = pd.read_csv(r'C:\Users\user\Desktop\Chicken client.csv')
data['indexName'] = data.index.tolist()
data['indexName'].astype(str)
indexDf = pd.DataFrame({'index_list':data.index.tolist(), 'index_name':'  '})
indexDf['indexName']=indexDf['index_list'].astype(str) + indexDf['index_name']
#indexDf.set_index('indexName')
Final = data.append(indexDf, ignore_index=False)
Final['indexName'] = Final['indexName'].astype(str)
Final.sort_values(by='indexName').to_csv('ids test.csv')

In [4]:
Final.head()

,DistrictName,SiteName,FieldOfficer,GroupName,LastName,FirstName,OAFID,2021A_Inkoko qty,indexName,index_list,index_name
0,Kayonza,Bugambira,Murebwayire Epiphanie,ABAKUNDAMAHORO,MUKAPEREZIDA,Didacienne,31307.0,8.0,0,NaN,NaN
1,Kayonza,Bugambira,Murebwayire Epiphanie,ABAKUNDAMAHORO,NKUNDABERE,Vincent,31339.0,15.0,1,NaN,NaN
2,Kayonza,Bugambira,Murebwayire Epiphanie,ABAKUNDAMAHORO B,MUREKATETE,Colletha,33034.0,4.0,2,NaN,NaN
3,Kayonza,Bugambira,Murebwayire Epiphanie,ABISHYIZEHAMWE A,MUKANTAGANZWA,Ernestine,43234.0,4.0,3,NaN,NaN
4,Kayonza,Bugambira,Murebwayire Epiphanie,ABIZERANYE A,NIRAGIRE,Mariam,41890.0,4.0,4,NaN,NaN

In [5]:
data.columns

Index(['DistrictName', 'SiteName', 'FieldOfficer', 'GroupName', 'LastName',
       'FirstName', 'OAFID', '2021A_Inkoko qty', 'indexName'],
      dtype='object')