In [1]:
import pandas as pd
#from dataprep.eda import plot, plot_missing, plot_correlation
data = pd.read_csv(r'C:\Users\user\Desktop\Analysis\Credit carry over\Season Clients Light_20200720-094824.csv')

#### Country level analysis

In [33]:
WithZeroCred = data[data['TotalCredit']==0]
WithCred = data[data['TotalCredit']>0]
FinishedCredit = data[data['% Repaid']==100]
NotFinishedCredit = WithCred[WithCred['% Repaid']<100]
TotalClientsFinishedCred = FinishedCredit['OAFID'].count()
TotalClientsWithRemCred = NotFinishedCredit['OAFID'].count()


RwandaTotalCredit = data['TotalCredit'].sum()
RwandaRemainCredit = data['RemainingCredit'].sum()
RwandaRepaidCredit = data['TotalRepaid'].sum()
RwandaPercRepaid = RwandaRepaidCredit*100/RwandaTotalCredit
RwandaRegions = len(data['RegionName'].unique().tolist())
RwandaDistricts = len(data['DistrictName'].unique().tolist())
RwandaSites = len(data['SiteName'].unique().tolist())
TotalClients = WithCred['OAFID'].count()

In [34]:
print('Regions:',RwandaRegions)
print('District:',RwandaDistricts)
print('Sites:',RwandaSites)
print('Total Number of Clients:',TotalClients)
print('Total Credit:',RwandaTotalCredit)
print('Total Repaid:',RwandaRepaidCredit)
print('Remaining Credit:',RwandaRemainCredit)
print('% Repaid:',RwandaPercRepaid)
print('Clients who finished their credit:',TotalClientsFinishedCred)
print('Clients with remainining credit:',TotalClientsWithRemCred)

Regions: 4
District: 26
Sites: 1022
Total Number of Clients: 464310
Total Credit: 10697620970.0
Total Repaid: 9519523309.25
Remaining Credit: 1178097660.75
% Repaid: 88.98729293126189
Clients who finished their credit: 343600
Clients with remainining credit: 120710

#### Region level analysis

In [5]:
RegionSummaryTotals = WithCred.groupby('RegionName')[['TotalCredit','TotalRepaid','RemainingCredit']].sum()
RegionSummaryCounts = WithCred.groupby('RegionName')['OAFID'].count()
RegionSummary = pd.merge(RegionSummaryTotals,RegionSummaryCounts, on="RegionName", how="outer").reset_index()
TotalClients = RegionSummary['OAFID'].sum()
print('Total number of clients:',TotalClients)
pd.set_option('display.float_format','{:,}'.format)
RegionSummary.rename(columns={'OAFID':'#Clients'}, inplace=True)
RegionSummary

Total number of clients: 464310

   RegionName     TotalCredit      TotalRepaid  RemainingCredit  #Clients
0        East 3,508,662,490.0  3,072,074,353.0    436,588,137.0    119643
1       South 3,082,917,530.0 2,779,647,538.75   303,269,991.25    138090
2  South West 1,562,041,230.0  1,455,220,684.5    106,820,545.5     74349
3        West 2,543,999,720.0  2,212,688,858.0    331,310,862.0    132228

#### District level Analysis

In [16]:
DistrictSummaryTotals = WithCred.groupby('DistrictName')[['TotalCredit','TotalRepaid','RemainingCredit']].sum()
DistrictSummaryCounts = WithCred.groupby('DistrictName')['OAFID'].count()
DistrictSummary = pd.merge(DistrictSummaryTotals,DistrictSummaryCounts, on="DistrictName", how="outer")
pd.set_option('display.float_format','{:,}'.format)
print('Total number of clients:',TotalClientsDist)
DistrictSummary.rename(columns={'OAFID':'#Clients'}, inplace=True)
District = input('Enter a district name:')
DistrictSummary.loc[str(District)]

Total number of clients: 464310
Enter a district name:Gatsibo

TotalCredit       681,624,300.0
TotalRepaid       602,833,983.0
RemainingCredit    78,790,317.0
#Clients               26,272.0
Name: Gatsibo, dtype: float64

#### Site level analysis

In [41]:
WithCred['SiteUID'] = WithCred['DistrictName']+'_'+WithCred['SiteName']

SiteSummaryTotals = WithCred.groupby('SiteUID')[['TotalCredit','TotalRepaid','RemainingCredit']].sum()
SiteSummaryCounts = WithCred.groupby('SiteUID')['OAFID'].count()
SiteSummary = pd.merge(SiteSummaryTotals,SiteSummaryCounts, on="SiteUID", how="outer").reset_index()
pd.set_option('display.float_format','{:,}'.format)
SiteSummary.rename(columns={'OAFID':'#Clients'}, inplace=True)
new = SiteSummary["SiteUID"].str.split("_", n = 1, expand = True) 
SiteSummary['District']=new[0]
SiteSummary['Site']=new[1]
FinalSiteSummary=SiteSummary.set_index('Site')
Site = input('Enter a site name:')
FinalSiteSummary.loc[str(Site)]

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Enter a site name:Biryogo

SiteUID            Bugesera_Biryogo
TotalCredit             4,560,430.0
TotalRepaid             4,102,265.0
RemainingCredit           458,165.0
#Clients                        277
District                   Bugesera
Name: Biryogo, dtype: object

#### Repayment buckets analysis

In [43]:
Between_0_10 = data[(data['% Repaid']>0)&(data['% Repaid']<=10)]['OAFID'].count()
Between_10_20 =data[(data['% Repaid']>10)&(data['% Repaid']<=20)]['OAFID'].count()
Between_20_30 =data[(data['% Repaid']>20)&(data['% Repaid']<=30)]['OAFID'].count()
Between_30_40 =data[(data['% Repaid']>30)&(data['% Repaid']<=40)]['OAFID'].count()
Between_40_50 =data[(data['% Repaid']>40)&(data['% Repaid']<=50)]['OAFID'].count()
Between_50_60 =data[(data['% Repaid']>50)&(data['% Repaid']<=60)]['OAFID'].count()
Between_60_70 =data[(data['% Repaid']>60)&(data['% Repaid']<=70)]['OAFID'].count()
Between_70_80 =data[(data['% Repaid']>70)&(data['% Repaid']<=80)]['OAFID'].count()
Between_80_90 =data[(data['% Repaid']>80)&(data['% Repaid']<=90)]['OAFID'].count()
Between_90_100 =data[(data['% Repaid']>90)&(data['% Repaid']<=100)]['OAFID'].count()
OverPaid = data[data['% Repaid']>100]['OAFID'].count()
RepaymentbucketDict = {'Between 0 and 10':Between_0_10,
                    'Between 10 and 20':Between_10_20,
                    'Between 20 and 30':Between_20_30,
                    'Between 30 and 40':Between_30_40,
                    'Between 40 and 50':Between_40_50,
                    'Between 50 and 60':Between_50_60,
                    'Between 60 and 70':Between_60_70,
                    'Between 70 and 80':Between_70_80,
                    'Between 80 and 90':Between_80_90,
                    'Between 90 and 100':Between_90_100,
                    'OverPaid':OverPaid}
RepaymentbucketDf = pd.DataFrame.from_dict(RepaymentbucketDict, orient='index', columns=['Number']).reset_index()
RepaymentbucketDf.style.set_properties(**{'text-align':'left'})
RepaymentbucketDf

                 index  Number
0     Between 0 and 10     972
1    Between 10 and 20    2905
2    Between 20 and 30    5523
3    Between 30 and 40    8921
4    Between 40 and 50   11276
5    Between 50 and 60   13966
6    Between 60 and 70   17503
7    Between 70 and 80   18829
8    Between 80 and 90   20189
9   Between 90 and 100  361975
10            OverPaid       0